.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.clase1,.clase2,.clase3{
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  border-right: 4px solid rgba(0, 0, 0, 0.4);
  border-left: 4px solid rgba(0, 0, 0, 0.4);
}
.clase2 {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top: 4px solid rgba(0, 0, 0, 0.4);
}

.clase3 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}


#autos_id img {
  position: relative;
  border-radius: 2px;
  border: 3px solid rgba(0, 0, 0, 0.4);
  display: inline-block;

}


#autos_id img:hover {
  transform: scale(1.08);
}

#autos_id img:hover+p.vendidos {
  opacity: 1;
}

.vendidos {
  border: 2px solid black;
  background-color: rgba(15, 14, 14, 0.579);
  color: white;
  position: absolute;
  opacity: 0;
}

/* #precioAsc {
  margin-left: 700px;
}

#precioAsc, #precioDesc, #relevancia {
  margin-top: 10px;
  margin-bottom: 10px;
}

#precio-min {
  margin-left: 650px;
} */

@media (max-width: 499px) {

  .fila-productos-precio{
    justify-content:center;
  }
  .fila-productos-filtro{
    justify-content:space-around;
  }
  #precio-min{
    max-width: 25vw;
  }
  #precio-max{
    max-width: 25vw;
  }

  .img-y-vendidos {
    justify-content: center;
    padding-bottom: 2vw;
  }

  #autos_id img {
    border-radius: 2px;
    border: 3px solid rgba(0, 0, 0, 0.4);
    max-width: 70%;
    max-height: 70%;
  }

  .titulo-prod {
    text-align: center;
  }

  .descripcion {
    text-align: center;
  }

  .img-thumbnail {
    max-width: 20vw;
    max-height: 20vw;
  }

  .titulo-perfil {
    margin-top: 8vw
  }

  .img-producto-carrito {
    max-width: 150%;
    max-height: 150%;
  }

  #envio-calle+label,
  #envio-numero+label,
  #envio-apartamento+label {
    font-size: 10px;
  }
}

@media (min-width: 500px) and (max-width: 849px) {

  .fila-precios-filtro{
    justify-content:space-around;
    padding-bottom: 20px;

  }
  #precio-min{
    max-width: 50vw;
    margin-right: 2vw;
  }
  #precio-max{
    max-width: 50vw;
  }
  
  #autos_id img {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 25%;
    max-height: 25%;

  }

  .titulo-prod {
    padding-left: 25vw;
    position: absolute;
    font-size: 20px;
  }

  .descripcion {
    padding-left: 200px;
    padding-top: 40px;
    position: absolute;
    max-width: 80vw;
    word-wrap: break-word;
  }

  .img-thumbnail {
    max-width: 16vw;
    max-height: 16vw;
  }

  .titulo-perfil {
    margin-top: 5vw;
  }

  .img-producto-carrito {
    max-width: 100%;
    max-height: 100%;
  }

  #envio-calle+label,
  #envio-numero+label,
  #envio-apartamento+label {
    font-size: 15px;
  }
}

@media (min-width: 850px) {

  #autos_id img {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    max-width: 25%;
    max-height: 25%;
  }

  .titulo-prod {
    margin-top: 20px;
    padding-left: 30%;
    padding-right: 15%;
    position: absolute;
  }

  .descripcion {
    margin-left: 30%;
    margin-top: 100px;
    position: absolute;
    max-width: 40vw;
    word-wrap: break-word;
  }

  .img-thumbnail {
    max-width: 10vw;
    max-height: 10vw;
  }

  .titulo-perfil {
    margin-top: auto;
  }

  .img-producto-carrito {
    max-width: 50%;
    max-height: 50%;
  }
}